.custom-header {
    background-color: #d1e7dd; /* Light teal */
    font-size: 18px;
    color: #333; /* Darker text for good contrast */
}

.inputercopy::selection {
    background: transparent;
}

.dt-scroll-headInner {
    width: 100% !important;
}
table.dataTable {
    width: 100% !important;
}
.input_copied {
    border: none !important;
    box-shadow: none !important;
    background-color: white !important;
    cursor: default !important;
    color: #000;
}
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
}
.table-responsive::-webkit-scrollbar:vertical {
    width: 12px;
}
.table-responsive::-webkit-scrollbar:horizontal {
    height: 12px;
}
.table-responsive::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ffffff;
}
.table-responsive::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}
.tltp {
    position: relative;
    display: inline-block;
}

.tltp .tltptext {
    visibility: hidden;
    width: 80px; /* Adjust width as needed */
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    text-align: center;
    border-radius: 4px;
    padding: 4px; /* Adjust padding as needed */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Adjust distance from the bottom */
    left: 50%;
    margin-left: -40px; /* Adjust centering */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px; /* Adjust font size*/
}

.tltp .tltptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f5eded transparent transparent transparent;
}

.tltp:hover .tltptext {
    visibility: visible;
    opacity: 1;
}
